.navbar-nav > li {
    margin-right: 15px;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


.bg-image {
    background-image: url('@{/home.jpg}');
    background-size: cover;
    background-position: center;
}