<div th:replace="fragment/index"></div>

<div class="container">
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary bg-image">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
                <h1 class="display-3 fw-bold">Get Sportive at home</h1>
                <h3 class="fw-normal text-muted mb-3">Votre programme simple et efficace pour rester actif et en forme sans quitter le confort de chez vous!</h3>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="text-bg me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden homeBoxBackgroundColor">
                <div class="my-3 py-3">
                    <h2 class="display-5">Nos aspirations</h2>
                    <p class="lead">Chez Get Sportive at Home, nous croyons en la force du sport pour nourrir le corps et l'esprit. Nos programmes sont conçus pour s'adapter à votre rythme du quotidien et à vos besoins, vous aidant ainsi à retrouver l'équilibre et le bien-être à travers l'exercice physique, pour une vie quotidienne saine pleine de vitalité. Rejoignez-nous pour faire de chaque pas une avancée vers votre bien-être!</p>
                </div>
                <div class="home-dv bg-body-tertiary shadow-sm mx-auto" id="imgAspiration"></div>
            </div>
            <div class="text-bg me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden homeBoxBackgroundColor">
                <div class="my-3 p-3">
                    <h2 class="display-5">Nos prestations</h2>
                    <br>
                    <p class="lead">Nous nous engageons à vous offrir un programme sur mesure, conçu spécialement pour répondre à vos besoins. Grâce à des entretiens individualisés, nous prenons le temps de comprendre vos objectifs, de vous connaître vous et vos préférences, afin de vous proposer des activités sportives qui vous conviennent parfaitement. De plus, notre service inclut des conseils nutritionnels pour des repas équilibrés, ainsi que des bilans réguliers hebdomadaires et mensuels pour suivre votre progression et ajuster nos programmes. Chez Get Sportive at Home, nous sommes là pour vous accompagner à chaque étape de votre parcours vers le bien-être total! </p>
                </div>
                <div class="home-dv bg-dark shadow-sm mx-auto" id="imgService"></div>
            </div>
            <div class="text-bg me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden homeBoxBackgroundColor">
                <div class="my-3 p-3">
                    <h2 class="display-5">Activités sportives</h2>
                    <p class="lead">Chez Get Sportive at Home, nous vous proposons une sélection d'activités sportives adaptées à la maison, pensées pour favoriser votre bien-être physique et mental. Que vous cherchiez à renforcer vos muscles, à améliorer votre endurance ou à vous détendre grâce aux étirements, nous vous proposons des solutions sur mesure. Essayez des exercices de renforcement musculaire avec des poids légers, des séances de cardio comme la marche rapide ou le vélo d'appartement, ou encore des exercices de relaxation comme le yoga et la méditation. Avec notre aspiration centrée sur votre santé et votre confort, vous pouvez progresser à votre rythme et en toute sécurité, depuis chez vous</p>
                </div>
                <div class="home-dv bg-dark shadow-sm mx-auto" id="imgActivities"></div>
            </div>
        </div>
    </main>
</div>

<div class="container">
    <div th:replace="fragment/footer"></div>
</div>

