<div th:replace="fragment/index"></div>
<br>
<br>
    <style>
        .user-card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
        .user-info {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .user-label {
            font-weight: 600;
        }
    </style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="user-card">
                <h2 class="text-center">Profil Utilisateur</h2>
                <hr>
                <div class="user-info">
                    <span class="user-label">Nom :</span> <span th:text="${user.nom}"></span>
                </div>
                <div class="user-info">
                    <span class="user-label">Prénom :</span> <span th:text="${user.prenom}"></span>
                </div>
                <div class="user-info">
                    <span class="user-label">Adresse Email :</span> <span th:text="${user.email}"></span>
                </div>
                <div class="user-info">
                    <span class="user-label">Âge :</span> <span th:text="${user.age}"></span>
                </div>
                <div class="user-info">
                    <span class="user-label">Genre :</span> <span th:text="${user.genre}"></span>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Modifier</a>
                </div>
            </div>
        </div>
    </div>
</div>
